@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/lib")
    @Styles.Render("~/styles/css")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>